/* COMMON */

body {
    height: 2000px;
    font-family: sans-serif; 
    box-sizing: border-box;
}
* {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
}

.inner {
    width: 1400px;
    height: 100%;
    /* background-color: antiquewhite; */
    margin: 0 auto;
}    

input {
    border: none;
}

button {
    border: none;
}

    



/* HEADER */
    header {
        width: 100%;
        height: 160px;
        border-bottom: 1px solid darkgray;        
    }

/* TOP MENU */

    header .top-menu {
        width: 100%;
        height: 25px;
        /* border-bottom: 2px solid red;  */
    }

    header .top-menu ul {
        position: relative;
    }

    header .top-menu ul li {
        display: flex;
        position: absolute;
        top: 8px;
        right: 50px;

    }

    header .top-menu ul li a{
        margin-right: 20px;
        color: gray;
    }

    header .top-menu ul li a:first-child{
        color: #333;
    }

    header .top-menu ul li a:first-child:hover {
        text-decoration: underline;
    }

    header .top-menu ul li a:first-child::after {
        display: block;
        content: "";
        /* background-image: url('../'); */
    }

    header .top-menu ul li a:last-child:hover{
        color: green;
    }

    /* LOGO & SEARCH */

    header .inner {
        height: 135px;
        /* background-color: #43d337; */
        position: relative;
    }

    header .inner ul {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    header .inner ul > li {
        display: flex;
        /* position: absolute;
        top: 25px; */
    }

    header .inner ul > li a {
        margin-right: 20px;
     }

     header .inner ul > li a img {
        height: 58px;
     }


     header .inner ul > li .search {
        display: flex;
        background-color: aqua;
        width: 780px;
        height: 56px;
     }

     header .inner ul > li .search input {
        display: block;
        width: 700px;
        border: 2px solid #5cbe3c;
        outline: none;
        font-size: 25px;
     }

     header .inner ul > li .search button {
        width: 80px;
        background-color: #43d337;
        border: #5cbe3c;
        cursor: pointer;
     }

     header .inner ul > li .search button span.material-icons {
        font-size: 45px;
        color: #fff; 
        text-align: center;       
     }


 /* fade-in search */
 header .fade-in {
     position: absolute;
     /*  */
     width: 100%;
     height: 65px;
     top: 0;
     z-index: 9;
    border-bottom: 2px solid #43d337;
 } 

 header .fade-in .inner {
    
    height: 65px;
    display: flex;
    
 }

 header .fade-in .inner a {
    
 }

 header .fade-in .inner a img {
    height: 60px;
 }

 header .fade-in .inner input {
     width: 1600px;
     height: 60px;
     font-size: 30px;
     color: darkgray;
     outline: none;
 }

 header .fade-in .inner button {
    height: 60px;
    background-color: #fff;
    cursor: pointer;
 }

 header .fade-in .inner button > span.material-icons {
    font-size: 45px;
    color:#5cbe3c;
    text-align: center;
    
 }

  
 /* NAVIGATION */

 nav {
    
 }

 nav .inner {
    position: relative;
 }

 nav .inner .sub-menu  {
    height: 56px;
    padding-left: 50px;
 }
 nav .inner .sub-menu ul {
    height: 56px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
 }
 
 nav .inner .sub-menu  ul > li {
    margin-left: 20px;
 }

 nav .inner .sub-menu ul > li a {
    color: #43d337;
    font-weight: 800;

 }

 nav .inner .sub-menu ul > li a.cr__black {
    color: #333;

 }

 nav .inner .sub-menu ul > li:last-child a {
    font-weight: normal;
    font-size: 14px;
 }



 /* ASIDE MENU */
nav .inner .aside {
    width: 380px;
    height: 1500px;
    border: 2px dashed #333;
    position: absolute;
    right: 0;
}

nav .inner .aside .login-menu {
    width: 350px;
    height: 135px;
    border: 2px dashed orange;
    position: absolute;
    left: 0;
}


nav .inner .aside .login-menu span {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    color: #808080;
}

nav .inner .aside .login-menu button {
    background-color: #19CE60;
    width: 315px;
    height: 48px;
    
}

nav .inner .aside .login-menu button a {
    color: #fff;
    /* background-color: red; */
    width: 120px;
    margin: 0 auto;
    font-size: 17px;
}

nav .inner .aside .login-menu ul {
    margin-top: 25px;
    display: flex;
}

nav .inner .aside .login-menu ul li {

}

nav .inner .aside .login-menu ul li a {
    color: #404040;
    font-size: 15px;
    margin-left: 7px;
}

nav .inner .aside .login-menu ul li:last-child a {
    margin-left: 130px;
}


/* etc info */
nav .inner .aside .etc-info {
    position: absolute;
    top: 150px;
    left: 0;
    width: 348px;
    height: 270px;
    
}

nav .inner .aside .etc-info .swiper-container {
    height: 47px;
    border: 2px dashed blue;    
    /* background-color: blue; */
}

nav .inner .aside .etc-info img {
    width: 348px;
    height: 200px;
    
}


/* Shopping */
    nav .inner .aside .shop {
        width: 350px;
        height: 1600px;
        background-color:yellow;
        position: absolute;
        top: 420px;
        left: 0;
    }

    nav .inner .aside .shop .shop-title {
        height: 44px;
        background-color: gray;
        
    }

    nav .inner .aside .shop .shop-title ul {
         background-color: #19CE60;
         display: flex;
    } 

    nav .inner .aside .shop .shop-title ul li {
        
    }

    nav .inner .aside .shop .shop-title ul li a{

    }



















/* MAIN MENU */


nav .inner .main {
    width: 850px;
    height: 2730px;
    border: 3px dashed darkgray;
    position: absolute;
    left: 5%;
    padding-right: 30px;
    
}

nav .inner .main a {
    width: 750px;
    height: 135px;
    margin: 0 auto;

}

nav .inner .main .headline {
    width: 750px;
    height: 49px;
    background-color: #F7F9FA;
    margin: 0 auto;
    margin-top: 12px;
    position: relative;
}

nav .inner .main .headline .news__selector {
    display: flex;
    position: absolute;
    top: 15px;
    left: 20px;
    /* background-color: red; */
    font-weight: bold;
    
}

nav .inner .main .headline a:first-child h1 {
    color: #333;
    font-weight: bold;
    display: block;
    margin-right: 14px;
}

nav .inner .main .headline .swiper-container {
    display: none;
}

